<a href="https://colab.research.google.com/github/JunSeokCheon/kaggle_H-M_data_analysis/blob/master/age_sex_estimation_data_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 쇼핑몰의 추천 상품을 위해서 데이터를 준비하고 가공하는 작업을 진행합니다.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /content/drive/MyDrive/2nd_project_elice/refine_data

/content/drive/MyDrive/2nd_project_elice/refine_data

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from tqdm.notebook import tqdm

In [ ]:
articles = pd.read_csv("articles.csv", index_col = 0)
customers = pd.read_csv("customers.csv", index_col = 0)
transactions = pd.read_csv("transactions.csv", index_col = 0)

In [ ]:
age_gender_articleid = pd.read_csv("age_id&attribute&fullarticle_id.csv", index_col = 0)

In [ ]:
transactions = transactions.drop_duplicates(['article_id'], ignore_index = True)

In [ ]:
pd.options.display.max_columns = None
articles.head(5)

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,perceived_colour_value_id,perceived_colour_value_name,perceived_colour_master_id,perceived_colour_master_name,department_no,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,4,Dark,5,Black,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,3,Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,1,Dusty Light,9,White,1676,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,111565001,111565,20 den 1p Stockings,304,Underwear Tights,Socks & Tights,1010016,Solid,9,Black,4,Dark,5,Black,3608,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,"Semi shiny nylon stockings with a wide, reinfo..."
4,111565003,111565,20 den 1p Stockings,302,Socks,Socks & Tights,1010016,Solid,13,Beige,2,Medium Dusty,11,Beige,3608,Tights basic,B,Lingeries/Tights,1,Ladieswear,62,"Womens Nightwear, Socks & Tigh",1021,Socks and Tights,"Semi shiny nylon stockings with a wide, reinfo..."

In [ ]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96338 entries, 0 to 96337
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   article_id                    96338 non-null  int64
 1   product_code                  96338 non-null  int64
 2   prod_name                     96338 non-null  object
 3   product_type_no               96338 non-null  int64
 4   product_type_name             96338 non-null  object
 5   product_group_name            96338 non-null  object
 6   graphical_appearance_no       96338 non-null  int64
 7   graphical_appearance_name     96338 non-null  object
 8   colour_group_code             96338 non-null  int64
 9   colour_group_name             96338 non-null  object
 10  perceived_colour_value_id     96338 non-null  int64
 11  perceived_colour_value_name   96338 non-null  object
 12  perceived_colour_master_id    96338 non-null  int64
 13  perceived_colour_master_name  96338 non-null  object
 14  department_no                 96338 non-null  int64
 15  department_name               96338 non-null  object
 16  index_code                    96338 non-null  object
 17  index_name                    96338 non-null  object
 18  index_group_no                96338 non-null  int64
 19  index_group_name              96338 non-null  object
 20  section_no                    96338 non-null  int64
 21  section_name                  96338 non-null  object
 22  garment_group_no              96338 non-null  int64
 23  garment_group_name            96338 non-null  object
 24  detail_desc                   95997 non-null  object
dtypes: int64(11), object(14)
memory usage: 19.1+ MB

In [ ]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2101776 entries, 0 to 2101775
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   t_dat             object
 1   customer_id       object
 2   article_id        int64
 3   price             float64
 4   sales_channel_id  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 96.2+ MB

In [ ]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1371980 entries, 00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657 to ffffd9ac14e89946416d80e791d064701994755c3ab686a1eaf3458c36f52241
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   FN                      476930 non-null   float64
 1   Active                  464404 non-null   float64
 2   club_member_status      1365918 non-null  object
 3   fashion_news_frequency  1355971 non-null  object
 4   age                     1356119 non-null  float64
 5   postal_code             1371980 non-null  object
dtypes: float64(3), object(3)
memory usage: 73.3+ MB

In [ ]:
age_gender_articleid.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age_id      12 non-null     int64
 1   attribute   12 non-null     object
 2   article_id  12 non-null     object
 3   len         12 non-null     int64
dtypes: int64(2), object(2)
memory usage: 480.0+ bytes

In [ ]:
from PIL import Image
import cv2

- article_id에 해당하는 이미지를 출력해주는 이미지 테스트 함수를 만들었습니다.

In [ ]:
def show_images(article_ids, cols=1, rows=-1):
    if isinstance(article_ids, int) or isinstance(article_ids, str):
        article_ids = [article_ids]
    article_count = len(article_ids)
    if rows < 0: rows = (article_count // cols) + 1
    plt.figure(figsize=(3 + 3.5 * cols, 3 + 5 * rows))
    for i in range(article_count):
        article_id = ("0" + str(article_ids[i]))[-10:]
        plt.subplot(rows, cols, i + 1)
        plt.axis('off')
        plt.title(article_id)
        try:
            image = Image.open(f"images/{article_id[:3]}/{article_id}.jpg")
            plt.imshow(image)
        except:
            pass

In [ ]:
age_gender_articleid.head()

   age_id attribute                                         article_id     len
0       0       Man   685816001 685816002 685816041 685814003 68581...   11870
1       0     Woman   741356002 372860002 673396002 832453002 37286...   71740
2       1       Man   685816001 685816002 685816041 608945001 57534...   71150
3       1     Woman   741356002 749699002 753737001 716672001 85912...  207590
4       2       Man   685816001 685816002 598755015 598755001 68581...   47610

In [ ]:
temp = age_gender_articleid.copy()

### 연령대/나이별 판매량 높은 10개의 상품을 5개의 카테고리를 기준으로 저장한다.

In [ ]:
age_dict = {0 : 0, 1 : 0, 2 : 1, 3 : 1, 4 : 2, 5 : 2, 6 : 3, 7 : 3, 8 : 4, 9 : 4, 10 : 5, 11 : 5}
index_group_name = 1

In [ ]:
def age_sex_data_extraction(temp, index_group_name, transactions, item, empty_dataframe):
  for i in range(12):
    recommend_articleid = temp['article_id'].iloc[i].split()
    recommend_articleid = list(map(int, recommend_articleid))
    recommend_articleid = pd.DataFrame(recommend_articleid, columns=['article_id'])
    test = pd.merge(articles, recommend_articleid, how='inner', on='article_id')
    if i % 2 == 0: # 남성
      test = test[test['product_type_name'] == item]
      test = test[test['index_group_name'] == 'Menswear']
      test['age_id'] = age_dict[i]     
      test['index_group_name'] = index_group_name
      test = test.loc[:, ["article_id", "prod_name", "product_type_name", "colour_group_name", "detail_desc", "index_group_name", "age_id"]].reset_index(drop = True)
      test = pd.merge(test, transactions, how='inner', on="article_id")
      test = test.drop(columns=["t_dat", "customer_id",  "sales_channel_id"])
      test = test.sample(frac=1).reset_index(drop=True)[:10]
      # test = test.sort_values(by="price", ascending=False).reset_index(drop = True)[:20]
      test['price'] = test['price'].map(lambda x : int(round(x*1000*1200, -2)))
      test['article_id'] = test['article_id'].map(lambda x : ("0" + str(x)))
      empty_dataframe = pd.merge(empty_dataframe, test, how='outer', on=["article_id", "prod_name", "product_type_name", "colour_group_name", "detail_desc", "index_group_name", "age_id", 'price'])
    else: # 여성
      test = test[test['product_type_name'] == item]
      test = test[test['index_group_name'] == 'Ladieswear']
      test['age_id'] = age_dict[i]     
      test['index_group_name'] = 0
      test = test.loc[:, ["article_id", "prod_name", "product_type_name", "colour_group_name", "detail_desc", "index_group_name", "age_id"]].reset_index(drop = True)
      test = pd.merge(test, transactions, how='inner', on="article_id")
      test = test.drop(columns=["t_dat", "customer_id",  "sales_channel_id"])
      test = test.sample(frac=1).reset_index(drop=True)[:10]
      # test = test.sort_values(by="price", ascending=False).reset_index(drop = True)[:20]
      test['price'] = test['price'].map(lambda x : int(round(x*1000*1200, -2)))
      test['article_id'] = test['article_id'].map(lambda x : ("0" + str(x)))
      empty_dataframe = pd.merge(empty_dataframe, test, how='outer', on=["article_id", "prod_name", "product_type_name", "colour_group_name", "detail_desc", "index_group_name", "age_id", 'price'])
  return empty_dataframe

### 카테고리 데이터 안에 index_group_name 컬럼으로 성별을 지정해준다.(남성 - 1, 여성 - 0)
### age_id로 연령대를 지정해준다.(0 - 10대, 1 - 20대, 2 - 30대, 3 - 40대, 4 - 50대, 5- 60대 이상)

In [ ]:
empty_dataframe = pd.DataFrame(columns=["article_id", "prod_name", "product_type_name", "colour_group_name", "detail_desc", "index_group_name", "age_id", 'price'])

In [ ]:
# "T-shirt", "Sweater", "Trousers", "Skirt", "Sneakers"
for item in ["Skirt"]:
  result = age_sex_data_extraction(temp, index_group_name, transactions, item, empty_dataframe)
  result.to_json(f"../image&json_data/{item}/json/{item}.json", orient = 'records')
  for article_id in result['article_id'].tolist():
    try:
      image = Image.open(f"../images/{article_id[:3]}/{article_id}.jpg")
      image.save(f'../image&json_data/{item}/image/{article_id}.jpg')
    except:
      pass