<a href="https://colab.research.google.com/github/JunSeokCheon/kaggle_H-M_data_analysis/blob/master/del_young_kid_sports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
cd /content/drive/MyDrive/2nd_project_elice

/content/drive/MyDrive/2nd_project_elice

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from tqdm.notebook import tqdm

In [ ]:
articles = pd.read_csv("articles.csv")
customers = pd.read_csv("customers.csv")
transactions = pd.read_csv("transactions_train.csv")
age_attribute_article = pd.read_csv("age_id&attribute&article_id.csv")

In [ ]:
age_attribute_article.head(10)

,Unnamed: 0,age_id,attribute,article_id
0,0,0,Man,685816001 685816002 685816041 685813003 685816023
1,1,0,Sports-person,720125001 484398001 854043005 852174001 720125039
2,2,0,Woman,599580055 741356002 684209027 684209013 559630026
3,3,0,Young,759871001 759871002 706016001 706016002 759465001
4,4,0,kids,869399003 816790005 796735001 644288001 832473003
5,5,1,Man,685816002 685816001 608945001 685816041 685814003
6,6,1,Sports-person,720125001 854043005 852174001 831568001 810838010
7,7,1,Woman,599580055 741356002 610776002 559630026 684209027
8,8,1,Young,706016001 759871002 759871001 706016002 759465001
9,9,1,kids,694298008 701784017 833485002 694298019 696178017

In [ ]:
aaa = age_attribute_article.copy()

In [ ]:
len(aaa.index)

30

In [ ]:
temp = aaa[aaa['attribute'] == "Young"].index
aaa = aaa.drop(temp)

In [ ]:
temp = aaa[aaa['attribute'] == "kids"].index
aaa = aaa.drop(temp)

In [ ]:
aaa.reset_index(drop=True)

    age_id      attribute                                         article_id
0        0            Man  685816001 685816002 685816041 685813003 685816023
1        0  Sports-person  720125001 484398001 854043005 852174001 720125039
2        0          Woman  599580055 741356002 684209027 684209013 559630026
3        1            Man  685816002 685816001 608945001 685816041 685814003
4        1  Sports-person  720125001 854043005 852174001 831568001 810838010
5        1          Woman  599580055 741356002 610776002 559630026 684209027
6        2            Man  685816001 685816002 685811001 598755015 598755001
7        2  Sports-person  720125001 854043005 720125039 818391001 740519002
8        2          Woman  610776002 610776001 599580055 841383002 599580038
9        3            Man  685811001 685811003 685811002 687635004 730013002
10       3  Sports-person  720125001 804992018 730683021 818391001 730683041
11       3          Woman  741356002 610776002 841383003 599580055 610776001
12       4            Man  687635004 685816001 685816002 827359003 685811003
13       4  Sports-person  720125001 842238001 740519002 868195001 720125041
14       4          Woman  599580055 783346018 841383003 783346016 783346020
15       5            Man  685816050 685816001 827359003 751994006 570004105
16       5  Sports-person  804992018 740519002 730683021 720125041 678707005
17       5          Woman  766346003 783346018 766346008 817110001 783346020

In [ ]:
# aaa.drop(['Unnamed: 0'], axis=1, inplace=True)

In [ ]:
# Underwear/nightwear, Unknown, Swimwear
pd.options.display.max_rows = None
articles.groupby(['product_group_name', 'product_type_name']).count()['article_id']

product_group_name     product_type_name
Accessories            Accessories set                 7
                       Alice band                      6
                       Baby Bib                        3
                       Bag                          1280
                       Beanie                         56
                       Belt                          458
                       Bracelet                      180
                       Braces                          3
                       Bucket hat                      7
                       Cap                            13
                       Cap/peaked                    573
                       Dog Wear                       20
                       Earring                      1159
                       Earrings                       11
                       Eyeglasses                      2
                       Felt hat                       10
                       Giftbox                        15
                       Gloves                        367
                       Hair clip                     244
                       Hair string                   238
                       Hair ties                      24
                       Hair/alice band               854
                       Hairband                        2
                       Hat/beanie                   1349
                       Hat/brim                      396
                       Headband                        1
                       Necklace                      581
                       Other accessories            1034
                       Ring                          240
                       Scarf                        1013
                       Soft Toys                      46
                       Straw hat                       6
                       Sunglasses                    621
                       Tie                           141
                       Umbrella                       26
                       Wallet                         77
                       Watch                          73
                       Waterbottle                    22
Bags                   Backpack                        6
                       Bumbag                          1
                       Cross-body bag                  5
                       Shoulder bag                    2
                       Tote bag                        2
                       Weekend/Gym bag                 9
Cosmetic               Chem. cosmetics                 3
                       Fine cosmetics                 46
Fun                    Toy                             2
Furniture              Side table                     13
Garment Full body      Costumes                       90
                       Dress                       10362
                       Dungarees                     309
                       Garment Set                  1320
                       Jumpsuit/Playsuit            1147
                       Outdoor overall                64
Garment Lower body     Leggings/Tights              1878
                       Outdoor trousers              130
                       Shorts                       3939
                       Skirt                        2696
                       Trousers                    11169
Garment Upper body     Blazer                       1110
                       Blouse                       3979
                       Bodysuit                      913
                       Cardigan                     1550
                       Coat                          460
                       Hoodie                       2356
                       Jacket                       3940
                       Outdoor Waistcoat             154
                       Polo shirt                    449
                       Shirt                        3405
                       Sweater                      9302
                       T-shirt                      7904
                       Tailored Waistcoat             73
                       Top                          4155
                       Vest top                     2991
Garment and Shoe care  Clothing mist                   1
                       Sewing kit                      1
                       Stain remover spray             2
                       Washing bag                     1
                       Wood balls                      1
                       Zipper head                     3
Interior textile       Blanket                         1
                       Cushion                         1
                       Towel                           1
Items                  Dog wear                        7
                       Keychain                        1
                       Mobile case                     4
                       Umbrella                        3
                       Wireless earphone case          2
Nightwear              Night gown                    171
                       Pyjama bottom                 220
                       Pyjama jumpsuit/playsuit      388
                       Pyjama set                   1120
Shoes                  Ballerinas                    372
                       Bootie                         31
                       Boots                        1028
                       Flat shoe                     165
                       Flat shoes                     10
                       Flip flop                     125
                       Heeled sandals                202
                       Heels                          22
                       Moccasins                       4
                       Other shoe                    395
                       Pre-walkers                     1
                       Pumps                         188
                       Sandals                       757
                       Slippers                      249
                       Sneakers                     1621
                       Wedge                         113
Socks & Tights         Leg warmers                     7
                       Socks                        1889
                       Underwear Tights              546
Stationery             Marker pen                      5
Swimwear               Bikini top                    850
                       Sarong                         66
                       Swimsuit                      662
                       Swimwear bottom              1307
                       Swimwear set                  192
                       Swimwear top                   50
Underwear              Bra                          2212
                       Bra extender                    1
                       Kids Underwear top             96
                       Long John                      30
                       Nipple covers                  19
                       Robe                          136
                       Underdress                     20
                       Underwear body                174
                       Underwear bottom             2748
                       Underwear corset                7
                       Underwear set                  47
Underwear/nightwear    Sleep Bag                       6
                       Sleeping sack                  48
Unknown                Unknown                       121
Name: article_id, dtype: int64