<a href="https://colab.research.google.com/github/JunSeokCheon/kaggle_H-M_data_analysis/blob/master/del_young_kid_sports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연령/유형 article_id 데이터프레임에서 Young, Kids, Sports-person 유형 제거
- 남성/여성을 나타내는 Man/Woman만 사용

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
cd /content/drive/MyDrive/2nd_project_elice/refine_data

/content/drive/MyDrive/2nd_project_elice/refine_data

In [3]:
 ls

'age_id&attribute&article_id.csv'       man_woman_recommedation.csv
'age_id&attribute&fullarticle_id.csv'   total_count_prod.csv
 articles.csv                           transactions.csv
 customers.csv

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from tqdm.notebook import tqdm

In [6]:
articles = pd.read_csv("articles.csv")
customers = pd.read_csv("customers.csv")
transactions = pd.read_csv("transactions.csv")
age_attribute_article = pd.read_csv("age_id&attribute&article_id.csv", index_col = 0)

In [8]:
temp = age_attribute_article.copy()

In [9]:
len(temp.index)

30

In [10]:
index = temp[temp['attribute'] == "Young"].index
temp = temp.drop(index)

In [11]:
index = temp[temp['attribute'] == "Sports-person"].index
temp = temp.drop(index)

In [12]:
index = temp[temp['attribute'] == "kids"].index
temp = temp.drop(index)

In [13]:
temp = temp.reset_index(drop=True)
temp

    age_id attribute                                         article_id
0        0       Man  685816001 685816002 685816041 685814003 685813...
1        0     Woman  741356002 372860002 673396002 832453002 372860...
2        1       Man  685816001 685816002 685816041 608945001 575347...
3        1     Woman  741356002 749699002 753737001 716672001 859125...
4        2       Man  685816001 685816002 598755015 598755001 685816...
5        2     Woman  841383002 749699002 841383003 753737001 749699...
6        3       Man  685811001 685811002 730013002 687635004 685811...
7        3     Woman  741356002 841383003 841383002 783346018 572797...
8        4       Man  685816001 687635004 685816002 685811002 685811...
9        4     Woman  783346018 841383003 783346016 783346020 817361...
10       5       Man  570004105 685816001 598755001 827359003 570004...
11       5     Woman  766346003 783346018 766346008 783346020 817110...

In [ ]:
temp.to_csv('man_woman_recommedation.csv')